/*
body {
    overflow: hidden;
}
 */


.background {
    opacity: 0.8;
    min-height: 100vh;
    padding: 15rem 0;
    background-image: url("../../public/bullsAndCows.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



